.mobileimage {
    display: none;
}

.whyus {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.whyLeft {
    width: 40%;
    height: 100%;
    background-image: url('../../assets/grass.png');
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}

.whyRight {
    width: 60%;
    height: 100%;
    background-color: #E5E5E5;
    padding-left: 5%;
}

.whyrightheading {
    margin-top: 10%;
    font: normal normal 600 51px/63px Aktifo A;
}

.whyCards {
    display: flex;
    flex-direction: column;
}

.whycard {
    width: 80%;
    height: 120px;
    display: flex;
    align-items: center;
}

/* .whycardImg {
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.whycardImg>img {
    width: 60px;
    height: 60px;
}

.whyCardDesc {
    margin-left: 5%;
}

.whyiconheding {
    font: normal normal medium 20px/34px Aktifo A;
    font-weight: 500;
}

.requestACallback {
    width: 479px;
    height: 75px;
    background: #F26621 0% 0% no-repeat padding-box;
    border-radius: 9px;
    border: none;
    font: normal normal 600 30px/36px Aktifo A;
    color: #FFFFFF;
}

@media(max-width: 600px) {
    .whyus {
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whyLeft {
        display: none;
    }

    .whyRight {
        width: 100%;
    }

    .whyrightheading {
        margin-top: 10%;
        font: normal normal 600 22px/28px Aktifo A;
    }

    .whyCards {
        display: flex;
        flex-direction: column;
    }

    .whycard {
        width: 90%;
        height: 180px;
        display: flex;
    }

    .whycardImg>img {
        width: 40px;
        height: 40px;
    }

    .whyCardDesc {
        margin-left: 5%;
    }

    .whyiconheding {
        font: normal normal medium 16px/28px Aktifo A;
        font-weight: 500;
    }

    .requestACallback {
        width: 168px;
        height: 34px;
        background: #F26621 0% 0% no-repeat padding-box;
        border-radius: 5px;
        font: normal normal 600 14px/17px Aktifo A;
    }

    .mobileimage {
        display: block;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/grassmobile.png');
        background-size: 100% 200%;
    }
}